
$primary: #216aeb;
$success: #36d193;
$warning: #f5ab34;
$font-family-sans-serif: Open Sans,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$table-head-bg: #50b9ff;
$table-head-color: white;
$table-active-bg: #e0edfc;
$input-bg: rgb(232, 245, 247);
$input-color: #444444;
$input-border-color: #444444;
$input-btn-border-width: 1px;
$btn-font-weight: font-weight-bold;
$font-size-base: 0.75rem;
$input-btn-font-size-sm: 0.75rem;
$input-btn-font-size-lg: 1rem;
$form-feedback-font-size: font-size-base;
$badge-font-size: 100%;
$input-btn-font-size: 0.875rem;
$yiq-contrasted-threshold: 180;
$body-bg: gray-200;
$light: white;
$modal-content-bg: body-bg;
$card-bg: body-bg;
$list-group-bg: body-bg;
$pagination-bg: gray-100;
$pagination-disabled-bg: gray-400;
$nav-tabs-border-width: 1px;
$nav-tabs-border-color: gray-600;
